################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pet.Domain/obj/Debug/netstandard2.0
/Pet.Domain/obj
/Pet.Application/bin/Debug/netstandard2.0
/Pet.Application/obj
/Pet.Connector.Abstractions/bin/Debug/netstandard2.0
/Pet.Connector.Abstractions/obj/Debug/netstandard2.0
/Pet.Connector.Abstractions/obj
/Pet.Connector.Ing/bin/Debug/netstandard2.0
/Pet.Connector.Ing/obj/Debug/netstandard2.0
/Pet.Connector.Ing/obj
/Pet.Connector.Ing.Tests/bin/Debug/netcoreapp2.2
/Pet.Connector.Ing.Tests/obj/Debug/netcoreapp2.2
/Pet.Connector.Ing.Tests/obj
/Pet.Domain/bin/Debug/netstandard2.0
/Pet.Migrations/bin/Debug/netcoreapp2.2
/Pet.Migrations/obj
/Pet.Data/bin/Debug/netstandard2.0
/Pet.Data/obj
/Pet.Application/bin/Release/netstandard2.0
/Pet.Connector.Abstractions/bin/Release/netstandard2.0
/Pet.Connector.Ing/bin/Release/netstandard2.0
/Pet.Data/bin/Release/netstandard2.0
/Pet.Domain/bin/Release/netstandard2.0
/Pet.Functions
/Pet.Tenant/bin/Debug/netstandard2.0
/Pet.Tenant/obj/Debug/netstandard2.0
/Pet.Tenant.Abstractions/bin/Debug/netstandard2.0
/Pet.Tenant.Abstractions/obj
/Pet.Tenant/obj
/Pet.BankingDomain/obj
/Pet.BankingDomain/bin/Debug/netstandard2.0
/Pet.ExpenseTrackingDomain/bin/Debug/netstandard2.0
/Pet.ExpenseTrackingDomain/obj
/Pet.Banking.Data/bin/Debug/netstandard2.0
/Pet.Banking.Data/obj
/Pet.ExpenseTracking.Data/bin/Debug/netstandard2.0
/Pet.ExpenseTracking.Data/obj
/Pet.ReadModel/bin/Debug/netstandard2.0
/Pet.ReadModel/obj
/Pet.ReadModel.Data/bin/Debug/netstandard2.0
/Pet.ReadModel.Data/obj
/Pet.Connector.Finq/obj
/Pet.OpenBanking.Domain/bin/Debug/netstandard2.0
/Pet.OpenBanking.Domain/obj
/Pet.Connector.Finq/bin/Debug/netstandard2.0
/Pet.OpenBanking.Data/bin/Debug/netstandard2.0
/Pet.OpenBanking.Data/obj
/Pet.Connector.Finq.Tests/bin/Debug/netcoreapp2.2
/Pet.Connector.Finq.Tests/obj
